
@media (min-width: 320px){
    .contacts__list{
        padding: 10px;
        width: 75%;

    }

    .contacts__btn{
        max-width: 50px;
        background: #6c3eb8;
        cursor: pointer;
        font-weight: 600;
        padding: 9px 10px;
        border-radius: 17px;
        transition: 0.5s ease;
        border: none;
        color: #fff;
        font-family: Montserrat,Roboto,sans-serif;
        font-size: 10px;
    }

    .contacts__block{
        width: 100%;
    }

    .contacts__item{
        display: flex;
        align-items: center;
        width: 80%;
    }
    

}


  
@media (min-width: 768px){
    .contacts__list{
        padding: 10px;
        width: 35vw;
    }

    .contacts__btn{
        max-width: 100px;
        background: #6c3eb8;
        cursor: pointer;
        font-weight: 600;
        padding: 9px 10px;
        border-radius: 17px;
        transition: 0.5s ease;
        border: none;
        color: #fff;
        font-family: Montserrat,Roboto,sans-serif;
        font-size: 12px;
    }

    .contacts__block{
        display: flex;
        width: 100%;
    }

    .contacts__item{
        display: flex-start;
        width: 80%;

    }
    

}

@media (min-width: 1000px){
    .contacts__btn{
        max-width: 200px;
        padding: 9px 20px;
        border-radius: 17px;
        font-size: 16px;
    }

}



.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background: var(--dark); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }


.contacts__text_name{
    /* margin-right: 30px; */
    margin-left: 15px;
    /* min-width: 140px; */
    font-family: Montserrat, Roboto, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    color: #6C3EB8;
}

.contacts__number{
    margin-right: 15px;
    margin-left: 15px;
    /* min-width: 140px; */
    font-family: Montserrat, Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #afaeae;
    width: 100%;
}


.contacts__list > li{
    display: flex;
    font-weight: bolder;
    align-items: center;
    /* justify-content: space-between; */
    background-color: #212123;
    border-radius: 9px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    /* width: 100%; */

}





.contacts__btn:hover, .contacts__btn:focus {
    color: #8B57C6;
    background: #8B57C6;
    /* border: 1px solid #8B57C6; */
    text-shadow: 0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 20px #ffffff;
    box-shadow: 0 0 5px #8B57C6,
                0 0 20px #8B57C6,
                0 0 50px #8B57C6,
                0 0 100px #8B57C6;
  }

