.form{
    /* gap: 20px; */

    /* box-sizing: border-box; */
    width: 75%;
    height: 350px;

    /* padding: 30px 30px; */
    transition: all 0.5s;
    display: flex;
    /* flex-direction: column; */
    /* font-weight: bolder; */
    color: #808080;
    flex-direction: column;
    margin-top: 24px;
    row-gap: 16px;


}

/* .form input {

} */



.form__btn {
    margin-top: 20px;
    /* margin-left: 40%; */
    max-width: 200px;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 17px;
    font-size: 17px;
    font-weight: 500;
    color: #808080;
    text-shadow: none;
    background: transparent;
    box-shadow: transparent;
    border: 1px solid #808080;
    transition: 0.5s ease;
    user-select: none;
  }
  
  .form__btn:hover, .form__btn:focus {
    color: #ffffff;
    background: #8B57C6;
    border: 1px solid #8B57C6;
    text-shadow: 0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 20px #ffffff;
    box-shadow: 0 0 5px #8B57C6,
                0 0 20px #8B57C6,
                0 0 50px #8B57C6,
                0 0 80px #8B57C6;
  }

  .form__input{
    background: #212123;
    border-radius: 8px;
    color: #808080;
    padding: 12px 24px;
    /* width: 100%; */
    cursor: pointer;
    box-shadow: none;
    border: none;
  }