.form__filter{
    /* gap: 20px; */

    /* box-sizing: border-box; */
    width: 75%;
    /* height: 350px; */

    /* padding: 30px 30px; */
    transition: all 0.5s;
    display: flex;
    /* flex-direction: column; */
    /* font-weight: bolder; */
    color: #808080;
    flex-direction: column;

    row-gap: 16px;
    z-index: 2;

}

.filter__input{
    background: #212123;
    border-radius: 8px;
    color: #808080;
    padding: 12px 24px;
    /* width: 100%; */
    cursor: pointer;
    box-shadow: none;
    border: none;

}