

@media (min-width: 320px){
    .header{
        width: calc(100% - 5vw);
        padding-top: 5px;
        padding-bottom: 0px;
        display: flex;
        justify-content: space-between;
    }
    
}

@media (min-width: 620px){
    .header{
        width: calc(100% - 22vw);
        padding-left: 20px;
        padding-right: 20px;
    }
    
}



.contacts__navigate{
    display: flex;
    gap: 30px

}

.logo_box{
    display: flex;
    text-decoration: none;
    cursor: pointer;
    align-items: center;

}

.logo_box2{
    display: flex;
    text-decoration: none;
    cursor: pointer;
    align-items: center;

}



.icon{
    width: 40px;
    height: 40px;
    background-image: url('../../../public/icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 10px;
}


.logo{
    font-family: Montserrat, Roboto, sans-serif;
    color: white;
    /* font-weight: 600; */
    line-height: 20px;
    

}

.logo span{
    color: #8B57C6;
    font-weight: 600;
    line-height: 20px;

}








@media (min-width: 320px){
    .register_form{
        font-family: Montserrat, Roboto, sans-serif;
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .user{
        display: none
    }


}

@media (min-width: 750px){
    .register_form{

        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .user{
        display: flex;
        align-items: center;
        color: white;
    }
}

/* .user{
    display: flex;
    align-items: center;
} */




.avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* background: var(--dark); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .username {
    font-size: 16px;
    line-height: 12px;
    /* color: var(--grey); */
    margin-right: 30px;
    margin-left: 10px;
  }

  .login{
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: white;
    cursor: pointer;

  }

  .login span{
    color: #8B57C6;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
  }