.container{
    background-color: #212123;
    max-width: 100%;
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: center;

}

.icon{
    width: 40px;
    height: 40px;
    background-image: url('../../../public/icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}