.contact_box{

    padding: 20px;
    border-radius: 6px;
    width: calc((100vw / 3));
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    align-items: center;
    /* position: relative; */


}

.contact_boximg{
    /* background-color: #191919; */
    padding: 20px;
    border-radius: 6px;
    width: calc((100vw / 3));
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    align-items: center;

}
